# Ignore Python virtual environments and cache
.venv/
__pycache__/
**/.venv/
**/__pycache__/
*.egg-info/

# Logs
interface/logs
interface/*.log
interface/npm-debug.log*
interface/yarn-debug.log*
interface/yarn-error.log*
interface/pnpm-debug.log*
interface/lerna-debug.log*

interface/node_modules
interface/.DS_Store
interface/dist
interface/dist-ssr
interface/coverage
interface/*.local

interface//cypress/videos/
interface//cypress/screenshots/

# Editor directories and files
interface/.vscode/*
interface/!.vscode/extensions.json
interface/.idea
interface/*.suo
interface/*.ntvs*
interface/*.njsproj
interface/*.sln
interface/*.sw?

interface/*.tsbuildinfo
